.profile-image {
    filter: blur(0.5px) grayscale(90%);
    opacity: .9;
    transition: all 600ms ease-in-out;
}

.profile-image:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.05);
}
